.frmsvr_wrap .widefat tbody tr.doesnt-meet-guidelines,
.frmsvr_wrap .widefat tbody tr.unreadable {
	background-color: #FFE8EE;
	display: none;
}
.frmsvr_wrap .widefat.showhidden tbody tr.doesnt-meet-guidelines,
.frmsvr_wrap .widefat.showhidden tbody tr.unreadable {
	display: table-row;
}

.frmsvr_wrap .widefat.showhidden .hidden-toggle {
	display: none;
}